{
    "plugins": [
        "@babel/plugin-syntax-jsx",
        "./taro-jsx-transform.js",
        [
            "@babel/plugin-syntax-typescript",
            {
                "isTSX": true
            }
        ]
    ]
}